<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;
=======

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #06060e;
  color: #f0e6ff;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}
>>>>>>> 4915d0216f4b876e5a975b04710287c82b6970d2
